.first, .third{
	color: darkcyan;
}

.second, .fifth{
	color: orange;
}

.fourth{
	color: darkgrey;
}

.mylist{
	background-color: lightgrey;
	text-align: center;
	border-style: double;
	border-color: black;
	font-family: fantasy;
}